@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
     /* Colors */
     --dark-grey:  #121725;
     --grey: #2C344B;
     --light-grey: #5A668A;
     --light-blue: #C2CBE5;
     --white: #FFFFFF;
     --light-green: #54E6AF;
     --bright-green: #B3FFE2; /*hover green*/
     --red : #FB3E3E;

}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
}

body {
    font-family: 'Chivo', sans-serif;
    color: var(--light-blue);
    background: var(--dark-grey);
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url("/images/tablet/image-host.jpg");
        background-position: top right;
        background-size: 30.687rem 47.938rem; 
        background-repeat: no-repeat; 
    }

    .main {
        position: relative;
        max-width: 39.688rem;
        max-height: 31.813rem;
        margin-bottom: 9.563rem; 
    }

    .publish {
        font-size: 48px;
        line-height: 56px;
    }

    .paragraph {
        font-size: 18px;
        line-height: 28px;
    } 

    .logo {
        margin-top: 50px;
        margin-bottom: 152px; 
    } 
} 

@media only screen and (min-width: 769px) {
    .content {
        background-image: url("/images/desktop/image-host.jpg");
        background-position: top 8.125rem right;
        background-size: 55.5rem;
        background-repeat: no-repeat;
    }  
}

@media only screen and (max-width: 400px) {
    .content {
        background-image: linear-gradient(to bottom, hsla(224, 35%, 11%, 0.9), hsla(224, 35%, 11%, 0.9)), url("./images/mobile/image-host.jpg");
        background-size: cover;
    }

    .main{
        text-align: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .info {
        order: 1;
    }

    .access-form {
        order: 3;
    }

    .brands {
        order: 2;
        max-height: 1.063rem;
        max-width: 19.688rem;
    }

    .icons {
        max-height: 1.063rem; 
    }

    .dots {
        display: none;
    }

    .logo {
        text-align: center;
        margin-top: 62px;
        margin-bottom: 57px; 
    }

    .publish {
        font-size: 26px;
        line-height: 38px;
    }

    .paragraph {
        font-size: 15px;
        line-height: 25px;
    }
}

.logo img {
    width: 135px;
    height: 56px;
}

.main {
    text-align: center;
    }

.publish {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 24px;
}

.publish span {
    color: var(--light-green);
}

.paragraph {
  /*  font-size: 18px;
    line-height: 28px;  */
    font-weight: 300;
    margin-bottom: 40px;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 48px;
}

.icons {
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 17%;
    background-position: center;
    background-size: contain;
}

.icons.spotify {
    background-image: url("/images/desktop/spotify.svg");
    margin-right: 40px;
}

.icons.apple {
    background-image: url("/images/desktop/apple-podcast.svg");
    margin-right: 41px;
}

.icons.google {
    background-image: url("/images/desktop/google-podcasts.svg");
    margin-right: 27px;
}

.icons.pocket {
    background-image: url("/images/desktop/pocket-casts.svg");
}

.access-form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 9px 32px;
    box-sizing: border-box;
    border-radius: 28px;
    border: none;
    line-height: 28px;
    background-color: var(--grey);
    color: var(--white);
    font-size: 14px;
    max-width: 427px;
}

button {
    width: 100%;
    margin-top: 16px;
    height: 46px;
    background-color: var(--light-green);
    color: var(--dark-grey);
    border: none;
    border-radius: 28px;
    cursor: pointer; 
    font-size: 14px;
    font-weight: 700;
    max-width: 427px;
}

button:hover {
    background-color: var(--bright-green);
}

.msg {
    color: var(--red);
}

@media only screen and (min-width: 769px) {
    .dots {
        position: relative;
        bottom: 23vh; left: 69.5vw;
    } 

    .publish {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 31px;
    }

    .logo {
        margin-top: 102px;
        margin-bottom: 103px; 
    } 
} 

@media only screen and (min-width:768px) {  
    .main {
        background-color: var(--dark-grey);
        width: 635px;
        padding-top: 93px;
        text-align: left;
    } 

    .content {
        margin-left: 39px;
    }

    .brands {
        width: 536px;
    }

    .access-form {
        flex-direction: column-reverse;
    }

    .paragraph {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 28px;
        max-width: 445px;
    } 

    button {
        width: 162px;
        position: absolute;
        top: 0;
        margin: 0;
        right: 0;
    }

    form {
        position: relative;
        width: 427px;
        margin-bottom: 50px;
    }
} 

@media only screen and (min-width:1200px) {
    .main {
        background-color: var(--dark-grey);
        width: 723px;
        padding-top: 88px;
    }

    .content {
        margin-left: 165px;
    }
    
    form {
        margin-bottom: 64px;
    }
}

    


  
