@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;900&display=swap");

/* Variables */
:root {
    /* Primary Colors */
     --light-green: hsl(157, 74%, 62%);
     --pale-green: hsl(157, 100%, 85%);
     --dark-grey: hsl(225, 26%, 23%);
     --medium-grey: hsl(225, 21%, 45%);
     --light-grey: hsl(225, 40%, 83%);
     --grey-black: hsl(224, 35%, 11%);
     --white: hsl(0, 0%, 100%);
     --sec-light-red: hsl(0, 96%, 61%);
  
    /* Neutral Colors */
  
    /*  Typography  */
    --chivo: "Chivo", sans-serif;
  }

  body {
      font-family: var(--chivo);
  }

  html {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      line-height: unset;
  }

  /*Background*/

  .background-image {
      background-image: linear-gradient(to bottom, hsl(224, 35%, 11%), hsla(224, 35%, 11%, 0.9)), url("/images/desktop/image-host.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
  }

  .logo {
      margin: 62px;
      text-align: center;
      max-height: 56px 120px 57px
  }

  .cta h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 52px;
      line-height: 62px;
      color: var(--light-green);
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 24px 0;
  }
  
  .cta span {
      color: var(--white);
  }


  
